<h1>{{ article.title }}</h1>

{% if settings.enable_author %}
  <small>{{ article.author }}</small>
{% endif %}

{% if settings.enable_publish_date %}
  <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
{% endif %}


<img
  alt="{{ article.image.alt }}"
  src="{{ article.image | image_url: width: 960 }}"
  width="{{ article.image.width }}"
  height="{{ article.image.height }}"
  loading="lazy">

<div class="">{{ article.content }}</div>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      }, {
        "type": "checkbox",
        "id": "enable_publish_date",
        "default": true,
        "label": "Display Published Date"
      }
    ]
  }
{% endschema %}